<h1 align="center">Create an article</h1>
<% if @article.errors.any? %>
  <h2>The following errors prevented the article from being created</h2>
    <% @article.errors.full_messages.each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>
<%= render 'form' %>
