$navbar-default-bg: #aeacad;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo :hover{
    text-decoration: none;
    color:black;
  }

.center{
  text-align: center;
}
.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description{
  margin-top: 0;
}
footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
}
footer small{
  float: left;
}
footer ul{
  float: right;
  list-style: none;
}
